
body{background:#070b12;color:#fff;font-family:Arial;text-align:center;margin:0}
.hero{padding:80px}
.livebtn{background:#00ff88;color:#000;padding:15px 25px;border-radius:30px;text-decoration:none;font-weight:bold}
.block{padding:60px}
.card{display:block;background:#111;padding:40px;border-radius:20px;color:#fff;text-decoration:none}
.shorts{display:flex;gap:20px;justify-content:center;flex-wrap:wrap}
.shorts img{width:200px;border-radius:12px}
